footer{
    text-align:center;
    font-size: 12pt;
    background-color: rgb(32, 56, 194);
    color: rgba(236, 117, 20, 0.644);
    width: auto;
    padding:.5%;
}
div{
    flex:1;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav a {
    padding: 8px 8px 8px 32px; 
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover { 
    color: #f1f1f1;
}
.sidenav .closebtn {
    position: absolute; 
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#main {
    transition: margin-left .5s;
    padding: 16px;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;} /* decreases padding-top for mobile */ 
    .sidenav a {font-size: 18px;} /* decreases link font-size for mobile */
}
body{
    font-family: 'Courier New', Courier, monospace;
    font-size:16pt;
	margin:auto;
	padding:0;
	border:0;
	background-color:rgb(90, 90, 90);
	display:flex;
	flex-direction:column;
    background-position:1% 20%;
    background-repeat:no-repeat;
    min-height:500px;	

}
a:link{
    color: rgba(236, 117, 20, 0.644);
    text-decoration: underline;
}
a:visited{
    color:rgba(236, 117, 20, 0.644);
    text-decoration: underline;
}
a:hover{
    color: black;
    background-color: rgba(23, 65, 180, 0.493);
    text-decoration: none;
    animation: angry 10s;
}
@keyframes angry{
    from{background:rgba(23, 65, 180, 0.493);}
    to{background:orange;}
}
a:active{
    color: rgb(255, 174, 0);
    text-decoration: underline;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    color: rgba(236, 117, 20, 0.644);
    font-size: 25pt;
    text-shadow: 2px 2px black;
    width: auto;
    background-color: rgb(32, 56, 194);
    padding: 2%;
    letter-spacing: 10px;
}
h2{
    color: rgba(236, 117, 20, 0.644);
    font-size: 20pt;
    text-shadow: 2px 2px black;
}
h3{
    font-style: italic;
    font-size: 15pt;
    letter-spacing: 10px;
}
p{
    margin-left: 20px;
    font-size: 15pt;
}
section{
	margin-left:5%;
	max-width:1000px;
}
section a:link { 
    text-decoration:none;
    font-weight:bold;

}
nav{
	margin-top: 0px;
	margin-left:40px;
}	
nav ul {
    background: linear-gradient(0deg, white, #14ECCC, white); 
    box-shadow: 6px 6px 6px rgba(0,0,0,0.15);
    padding: 0 20px;
    border-radius: 10px; 
    list-style: none;
    position: relative;
    display: inline-table;
    color:white;
    font-weight:900;
}
nav ul li {
    display:inline-table;
}
nav ul li:hover {
	background: radial-gradient(white,#227A87);
}
nav ul li a {
    display: block; 
    padding: 25px 40px;
    color:white; 
    text-decoration: none;
}
nav ul li a {
    display: block; 
    padding: 25px 40px;
    color:white; 
    text-decoration: none;
}
nav ul li:hover a {
    color:black; 
    text-decoration: none;
}
nav ul li:hover > ul {
    display:flex;
    flex-direction:column;
}
nav ul ul {
    display: none;
    background: radial-gradient(white,#227A87);
    border-radius: 0px; 
    padding: 0px;
    position: absolute; 
    z-index:10; 
}
nav ul ul li {
    display:block;
    border-top: 1px solid #757575;
    border-bottom: 1px solid #757575; 
    position: relative;
    text-align:left;
}
nav ul ul li a {
    padding: 15px 40px;
    color: #757575;
} 
nav ul ul li a:hover {
    background: black;
    color:lightgreen;
}
#icons{
    font-size:35pt;
}